/* ************************************************************************************************
                                            Selector UNIVERSAL
************************************************************************************************ */


*{

    margin: 0px;
    padding: 0px;

}

*:before, *:after {

    box-sizing: border-box;

}

/* ************************************************************************************************
                                            Selectores por TIPO
************************************************************************************************ */

html{

    background-repeat: repeat;
    background-image: url("../img/patterns/4.jpg");
    

}

body{
    
    width: 90%; /* Para que no ocupe toda la pantalla */
    margin: 0 auto;
}


nav, section, form, footer {

    display: block;

}

nav {

    width: 100%; /* Para que ocupe toda la anchura*/
    position: relative;
    font-family: 'Roboto Slab', serif;

}

nav a {

    display: inline-block; /* Para poner los links en horizontal */
    text-decoration: none;
    color: #F5F6CE;
    font-size: 25px;
    
}

nav li{

    display: inline;

}

nav li a {

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a { /* Último link hijo */

    border-right: 0; /* No tiene borde en la parte derecha*/
}

nav a:hover, nav a:active {

    color: #77BFCE;
}

nav a#pull { /* El link que contiene id pull estará oculto*/

    display: none;
}

h2 {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 28px;
    margin-top: 30px;
    color: #DF0174;

}

h3{

    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: 'Advent Pro', sans-serif;
    margin-top: 30px;
    font-size: 28px;
    color: #04B4AE;
    text-align: center;

}

form{
    
    display: -webkit-box; /*chrome*/
    -webkit-box-orient: vertical; /*orientación vertical;*/
    margin: 0 auto;
    margin-bottom: 30px;

}

input[type=text]{

    height: 25px;
    width: 200px;
    border-radius: 10px 10px; /* Para ovalar */
}

input.error{
    
    background-color: #FF9;
    border: 1px solid red;
    border-radius: 10px 10px; /* Para ovalar */
    height: 25px;
    width: 200px;
    
}

input[type=reset], input[type=submit], #boton{

    color: rgb(245, 245, 241);
    background-color: #EF5CAA;
    border-color: #F4ADC5;
    border-radius: 4px; /* Para ovalar */
    padding: 6px 12px;
    font-size: 14px;

}

footer a{

    color: black;
}

footer a:hover, nav a:active {

    color: #8A0829;
}


/***********************************************************************************************
                                       Selectores por CLASE 
***********************************************************************************************/

/* layout */
.container{
    
    margin: 0 auto;
    width: 100%;
    background-color: white;
    
}

/* Menú */
.clearfix:after, .clearfix:before{ /*Limpia los floats*/

    content: "";
    display: table;

}

.clearfix:after{

    clear: both;

}
.clearfix{

    *zoom: 1;
}

/* Mapa e información */
.bloque{
    
    padding: 20px;
    display: -webkit-box; /*chrome*/
    -webkit-box-orient: horizontal; /*orientación horizontal*/
    background-color: white;
    
}

/*La columna que tiene el mapa*/
.columna1{
    
    padding-bottom: 40%; /* 16:9 */
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    width: 70%;
    height: 20%;
    background-color: white;
    
    
}

/* iframe que contiene el mapa en si mismo*/
.columna1 iframe{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: white solid 1px;
 
}

.columna2{
    
    width: 30%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    
    background-color: white;
  
}

.columna2>div{

    width: 90%;
    margin: 0 auto;

}

.columna2>div>h1{
    
    text-align: center;
    font-size: 25px;
    
}

.columna2>div>h2{
    
    font-size: 20px;
    
}

.columna2>div>p{
    
    text-align: center;
    
}

.columna2>div>ul{

    text-decoration: none;
    list-style: none;

}

.columna2>div>ul>li>a{

    color: black;
    text-decoration: none;
    cursor: auto;
}

.columna3{
    
    width: 100%;
    display: -webkit-box; /*chrome*/
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border-top: #9A485F dotted 1px;
    border-bottom: #9A485F dotted 1px;
    background-color: white;

}

.columna3 img {

    margin-left:50px;
    width: 11.5%;
    height: 11.5%;
    border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    border: 0px none #000000;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px #5D9E98;
    padding: 2px;
}

/* Slider */
.description {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: Archivo Narrow;
    z-index: 1000;
}

.description-text {

    background-color: rgba(0,0,0,.8);
    padding:10px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}


/* Galeria de imágenes */
.grid{

    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}

.grid img:hover{ 

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1)
}

/* Formulario */
.form1{

    display: -webkit-box; /*chrome*/
    -webkit-box-orient: horizontal; /*orientación horizontal*/
}

.datos{

    width: 50%;
    text-align: center;
}

.reserva{

    width: 50%; 
    text-align: center;
    margin-bottom: 50px;  
}

.nombre, .email, .telf {

    text-align: center;
    margin-bottom: 40px;
    margin-left: 40px;
}

.zona, .precio, .desayuno, .fechaEntrada, .fechaSalida {

    text-align: center;
    margin-bottom: 15px;
    margin-left: 40px;

}
.nombre label, .email label, .telf label,.zona label, .precio label, .desayuno label, .fechaEntrada label, .fechaSalida label {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #DF0174;


}

.precio label, .zona label{

    margin-right: 5px;
}

.desayuno {

    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    font-size: 12px;
    color: #088A85;

}

.desayuno input{

    float: center;

}

/* Cambia de color cuando el ratón entra en alguno de los input del formulario */
.enfoco{
                
    background-color: #F5A9BC;
    border-radius: 10px 10px; /* Para ovalar */
                
}

/* Botones de formulario */
.botonForm {

    display: -webkit-box; /*chrome*/
    -webkit-box-pack: center;

}

/* Footer */
.enlaces{

    /*border: 2px solid black;*/
    background-color: white;
    display: -webkit-box; /*chrome*/
    -webkit-box-align: center;
    -webkit-box-pack: center;

}

.enlaces li {
    
    display: inline-block; /* Para poner el menú en horizontal */

}

.enlaces a {
    
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;

}

.redes{

    display: -webkit-box; /*chrome*/
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding-bottom: 5px;
    padding-top: 30px;
    background-color: white;

}

.redes li {
    
    display: inline-block; /* Para poner el menú en horizontal */

}

.redes img{
    
    width: 55%;
    height: 55%;
}

.redes img:hover{
    
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    
    
}

/* ************************************************************************************************
                                            Selectores por ID
************************************************************************************************ */

#div_logo{

    width: 100%;
    height: 20%;
    background-color: #210A1C;
}

#logo{

  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 30%;
  margin-top: 10px;
  margin-left: 10px;
}

#menu_nav{
    
    text-align: center;
    height: 130px;
    padding-top: 20px;
    background-color: #210A1C;
    
}

#menu_nav li{ 

    display: inline-block; /* Para poner el menú en horizontal */
    position: relative;
    padding: 8px;
}

/* Parte desplegable */
#subseccion1 {

    position: absolute;
    top: 100%;
    left: 0px;  
    padding: 0.2em 0.5em ;
    display: none;
    text-align: left;
    background-color: #210A1C;

}

#expli{

    display: block;
}

#boton{

    display: none;
    color: black;
    background-color: #B6F5FF;
    border-color: #03405C;
    border-radius: 4px; /* Para ovalar */
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;

}

#slider {

    display: block;
    min-width: 260px;
    max-width: 480px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    height: 400px; /*Altura*/
    margin-top: 30px;
    margin-bottom: 30px;

}

#sliderinner {

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#sliderinner>ul {

    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#sliderinner>ul>li {

    width: 20%;
    height: 320px;
    float: left;
    position: relative;

}

#sliderinner>ul>li>img {

    margin: auto;
    height: 100%;

}

#slider input[type=radio] {

    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slider label {

    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    cursor: pointer; /*El cursor se cambia a una mano*/
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

/*Se cambia el radio button*/
#slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
#slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
#slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }


/*Se cambia la imagen*/
#slider label[for=control1] { margin-left: -36px }
#slider label[for=control2] { margin-left: -18px }

/*Mover las fotos*/
#slider input[type=radio]#control1:checked~#sliderinner>ul { left: 0 }
#slider input[type=radio]#control2:checked~#sliderinner>ul { left: -100% }
#slider input[type=radio]#control3:checked~#sliderinner>ul { left: -200% }

#tituloCamping{

    text-align: center;
}

/* ************************************************************************************************
                                            RESPONSIVE
************************************************************************************************ */


/*Cuando la anchura de la ventana contenga como máximo 600px la imagen coge toda la anchura */
@media all and (max-width:600px){

    html{

        background-color: white;
    }

    body{

        width: 100%;
       
    }

    h4{
        text-align: center;
    }

    h3{
        text-align: center;
    }

    nav{

        height: auto;
        border-bottom: 0;
        border-bottom: medium double black;
    }

    nav a {

        font-size: 14px;
    
    }

    nav ul{

       display: none; /* Desaparace*/
       height: auto;
    }

    nav a#pull {

        display: block; /* Aparece */
        width: 100%;
        position: relative;
        margin-left: 5px;
    }

    /*Después de aparecer el menú, aparece el icono */
    nav a#pull:after {

        content: "";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;

    }

    form{

        margin: 0;
        width: 100%;

    }

    .form1{

        margin-left: 0px;
        margin-top: 0px;
        display: block;

    }

    .datos{

        width:100%;
        
    }

    .reserva{

        width:100%;
        float: left;
        
    }
    
    .columna1{

        padding-bottom: 56.25%; /* 16:9 */
    }

    .grid { 

        text-align: center;

    }
    .grid img{

        width: 100px;
    }
    
    .botonForm {

        margin-left: 100px;

    }
    
    .enlaces li {
    
        display: block; 

    }

    .nombre, .email, .telf,.zona, .personas, .precio, .fechaEntrada, .fechaSalida {

        text-align: center;
        margin-bottom: 10px;
    }

    .nombre label, .email label, .telf label,.zona label, .personas label, .precio label, .desayuno label, .fechaEntrada label, .fechaSalida label {

        float: center;

    }

    .zona label{

        margin-right: 0;

    }

    .desayuno{

        text-align: center;
    }

    .desayuno input{

        float: center;

    }

     .enlaces{

        display: none;
    }

    #menu_nav{
    
        height: 60px;
    
    }

}

/*Cuando la anchura de la ventana contenga como máximo 1100px se cambia el diseño */
@media all and (max-width:1100px){

    .columna1{

        width:100%;
        
    }

    .columna2{

        width:100%;
        float: left;
        padding: 20px;
        
    }
    
    .columna3{
        
        width:100%;
    }

    .bloque{

        margin-left: 0px;
        margin-top: 0px;
        display: block;

    }

    #boton{

        display: block;
    }

}

/* ************************************************************************************************
                                            EFECTOS
************************************************************************************************ */

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}