<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <title> Reserva </title>

    <!-- Link para css -->
    <link rel="stylesheet" href="../css/style2.css" />
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>

    <!-- Link para la fuente del formulario-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Link para mostrar el calendario -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    
    <!-- Importación funciones de JavaScript-->
    <script type="text/javascript" src="../js/funciones.js"></script>

    <!-- Importación funciones de jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="jquery.ui.datepicker-es.js"></script>
    
    <!-- jQuery -->
    <script type="text/javascript">

        $(function() {

            //Obtenemos el link que contenga el id pull
            var pull=$('#pull');
            var seccion1=$('#seccion1');

            //Obtenemos todos las etiquetas ul que contenga la etiqueta nav
            var menu=$('nav ul');

            //Guardamos la altura del menú en una variable
            var menuHeight=menu.height();

            //Función para el calendario
            $.datepicker.setDefaults($.datepicker.regional["es"]);

            $(".datepicker").datepicker({

                firstDay: 1,
                onSelect: function (date) {
                alert("Has elegido "+date)
                },

            });


            //Cuando haga clic en el link, realizaremos una función con pasando un parámetro
            $(pull).on('click', function(e) {

                e.preventDefault();
                menu.slideToggle();
                
                //Eliminamos el atributo onmouseover de cada sección
                seccion1.removeAttr('onmouseover');

            //Cierre del método on
            });

            //Cuando la ventana se hace más pequeño, se realiza la siguiente función
            $(window).resize(function(){

              //Gaurdamos en una variable el width de la ventana de forma local
              var w=$(window).width();

              //Si la anchura es mayor que 413px, la explicación debe aparecer
              if(w>413 && menu.is(':hidden') ) {

                $("#expli").css("display","block");

                //Eliminamos el atributo style del menú
                menu.removeAttr('style');
                
                //Añdimos el atributo onmouseover al cada sección
                seccion1.attr('onmouseover','ver(1)');

              }
              else{

                //Si la anchura es menor que 413px, la explicación debe desaparecer
                $("#expli").css("display","none");
                
              }

            //Cierre de la función resize
            });

        //Cierre de la función general    
        });

    </script>
    
</head>

<body>

    <!-- Engloba todas las etiquetas -->
    <div class="container">

    <center><div id="div_logo"><a href="../portada.html"><img id="logo" src="../img/logo_grande.png"></a></div></center>
        
       <!-- Menú -->
        <nav id="menu_nav" class="clearfix">
            
            <!-- Lista desordenada-->
            <ul class="clearfix">

                <li><a href="../index.html" id="highlight"> Inicio </a></li>
                
                <li><a href="pirineos.html"> Rutas </a></li>
                
                <li id="seccion1" onMouseOver="ver(1)" onMouseOut="ocultar(1)">
                    
                    <a href="refugio.html"> Alojamiento </a>
                                
                      <div id="subseccion1">
                             <a href="refugio.html"> Refugio </a> 
                             <a href="campings.html"> Camping </a>   
                                                                
                      </div> <!-- Cierre de la subsección -->
                </li> <!-- Cierre de la sección1 -->

            </ul> <!-- Cierre de la lista desordenada --> 

            <a href="#" id="pull"> </a>  
            
        </nav> <!-- Cierre del menú -->

                
        <!-- Formulario de reserva -->
        <div id="formulario">
            
            <form method="post">

                <section class="form1">
                
                    <!-- Introducir datos -->
                    <div class="datos">

                        <h3> Introduzca datos </h3>

                        <div class="nombre">

                            <label> Nombre: </label><br />
                            <input type="text" id="nombre" name="nombre" required="required" onFocus="entrarFoco(this)" onBlur="salirFoco(this)" />

                        </div> <!-- Cierre div del nombre -->

                        <div class="nombre">

                            <label> Nombre del alojamiento: </label><br />
                            <input type="text" id="nombre" name="nombre" required="required" onFocus="entrarFoco(this)" onBlur="salirFoco(this)" />

                        </div> <!-- Cierre div del nombre -->
                        
                        <div class="email">

                            <label> Email: </label><br />
                            <input type="text" id="email" name="email" required="required" onFocus="entrarFoco(this)" onBlur="salirFoco(this)" />
                        </div> <!-- Cierre div del email -->
                        
                        <div class="telf">

                            <label> Teléfono: </label><br />
                            <input type="text" id="telf" name="telf" required="required" onFocus="entrarFoco(this)" onBlur="salirFoco(this)" />
                        </div> <!-- Cierre div del telefono -->
                        
                        
                    </div>
                    
                    <!-- Reserva -->
                    <div class="reserva">
                    
                        <h3> Elige tu reseva </h3>

                        <!-- Lista desplegable -->
                        <div class="zona">

                            <label> Zona: </label>
                            <select>
                              <option name="zona" id="zona" value="Pirineos"> Pirineos </option>
                              <option name="zona" id="zona" value="Pyrenees"> Pyrénées </option>
                              <option name="zona" id="zona" value="Pirineus"> Pirineus </option>
                              <option name="zona" id="zona" value="Pireneus"> Pirenèus </option>
                              <option name="zona" id="zona" value="Perines"> Perinés </option>
                              <option name="zona" id="zona" value="Pirinioak"> Pirinioak </option>
                            </select>
                        </div> <!-- Cierre div de la zona -->
                                               
                        <div class="precio">

                            <label> Precio: </label>

                            <select>
                              <option name="precio" id="precio" value="10"> 10€ </option>
                              <option name="precio" id="precio" value="20"> 20€ </option>
                              <option name="precio" id="precio" value="30"> 30€ </option>
                              <option name="precio" id="precio" value="40"> 40€ </option>
                              <option name="precio" id="precio" value="50"> 50€ </option>
                              <option name="precio" id="precio" value="60"> 60€ </option>
                            </select>

                        </div> <!-- Cierre div de precio -->
                        
                        <!-- Radio buttons -->
                        <div class="desayuno">

                            <label> Desayuno: </label><br /><br />
                            <input type="radio" name="desayuno" id="desayuno" value="si" /> Sí <br /> 
                            <input type="radio" name="desayuno" id="desayuno" value="no" /> No <br /> <br />
                        </div> <!-- Cierre div de desayuno -->
                        
                        
                        <div class="fechaEntrada">

                            <label> Fecha de entrada:</label><br />
                            <input type="text" class="datepicker" onFocus="entrarFoco(this)" onBlur="salirFoco(this)">

                        </div> <!-- Cierre div de la fecha de entrada -->
                        
                        <div class="fechaSalida">

                            <label> Fecha de salida:</label><br />

                            <input type="text" class="datepicker" onFocus="entrarFoco(this)" onBlur="salirFoco(this)">

                        </div> <!-- Cierre div de la fecha de entrada -->              
                            
                            
                    </div>

                
                </section> <!-- Cierre del bloque -->

                <div class="botonForm">               

                    <input type="submit" value="Añadir" />
                    <input type="reset" value="Borrar" />

                </div> <!-- Cierre div de botones -->
                
            </form>
            
        </div> <!-- Cierre div del formulario -->
        
        <!-- Pie de toda la página -->
        <footer id="footer">

            <div class="redes">
         
            <ul>
                
                <li><a href="#"><img src="../img/redes/twitter.jpg"/><a></li>
                <li><a href="#"><img src="../img/redes/facebook.jpg"/><a></li>
                <li><a href="#"><img src="../img/redes/flickr.jpg"/><a></li>

            </ul> <!-- Cierre la lista desordenada -->

            </div> <!-- Cierre div de enlaces -->

            <div class="enlaces">

                <ul>
                
                    <li><a href="#"> Contacto </a></li>
                    <li><a href="#"> Condiciones de uso </a></li>
                    <li><a href="#"> Aviso legal </a></li>
                    <li><a href="#"> Política de privacidad </a></li>
                    <li><a href="#"> Política de cookies </a></li>

                </ul> <!-- Cierre la lista desordenada -->
                
            </div> <!-- Cierre div de enlaces -->

        </footer> <!-- Cierre de pie de página -->

    </div> <!-- Cierre div del container -->

</body>

</html>